<header class="hero-unit" id="banner">

  <div pageslide ps-open="checked" ps-side="left" ps-push="true">
    <div style="padding:20px" id="demo-right">
      <ul class="nav nav-pills nav-stacked" ng-repeat="room in $ctrl.rooms">
        <li style="height: 100px" ng-class="{active: $index===0}">
          <span class="glyphicon-class glyphicon glyphicon-ok"></span>
          <div class="media">
            <div class="media-left">
              <a href="#" uib-tooltip="{{room.name}}">
                <img class="media-object" alt="{{room.name}}"
                     style="width: 64px; height: 94px;"
                     ng-src="{{room.img}}"
                     data-holder-rendered="true">
              </a></div>
            <div class="media-body"><h4 class="media-heading">{{room.headline}}</h4>
              {{room.description}}
            </div>
          </div>
          <button type="button" class="close" ng-click="$ctrl.setFalseRumor(room)">&times;</button>
          <span class="glyphicon-class glyphicon glyphicon-remove"></span>
        </li>
      </ul>
      <a ng-click="toggle()" class="button">Close</a>
    </div>
  </div>
  <div ng-if="chatting">
    <h1>Rumor app</h1>
    <a class="tiny button" href="" ng-click="toggle()">Open Sidebar</a>
    <img src="assets/images/carCrash.jpg" alt="When you walk your dog...">
  </div>

  <div class="page-container">
    <div class="row messages">
      <div class="col-xs-12 col-md-12">
        <ul class="list-group">
          <li class="list-group-item header"><strong>Messages</strong></li>
          <li class="list-group-item" ng-cloak ng-repeat="msg in messages  | orderBy:'date' "
              ng-hide="msg.blocked"
              id="{{ 'msg-' + ($last ? 'last' : $index) }}">
            <user-message msg="msg"/>
          </li>
        </ul>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="form-group">
          <img ngf-src="files[0]" ng-if="files[0]" ngf-default-src="'/thumb.jpg'" class="pull-left" width="100%"
               ngf-accept="'image/*'">
        </div>
        <div class="input-group">
                <span class="input-group-addon"
                      smilies-selector="newMessage.body"
                      smilies-placement="right"
                      smilies-title="Smilies">
                </span>
          <span ngf-select=""
                ng-model="files"
                class="upload-button ng-valid ng-dirty btn btn-info input-group-addon"
                ngf-multiple="false"
                ngf-accept="'*.jpg,*.jpeg,*.png,*.gif'"
                ng-model-rejected="rejFiles" tabindex="0">
                    <span><i class="glyphicon glyphicon-cloud-upload"></i></span>
                </span>
          <input class="form-control"
                 type="text"
                 ng-model="newMessage.body"
                 placeholder="Geben Sie hier ..."
                 ng-keyup="$event.keyCode === 13 && send()">
          <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"
                            ng-click="send()"
                            ng-disabled="isSendDisabled()">
                        Senden
                    </button>
                </span>
        </div>
      </div>
    </footer>

  </div>

</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}
          <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
        </a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
