<div class="message">
    <div class="media">
        <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
        {{msg.notify}} : <span ng-bind-html="msg.text"></span>

        <div ng-if="msg.img" class="image-from embed-responsive embed-responsive-4by3">
            <a height="200" href={{msg.img}} target="blank">
                <img src={{msg.fromImage}}
                     class="embed-responsive-item"
                     alt="Question image">
            </a>
        </div>
    </div>

    <div class="answer" ng-if="msg.text">
        <span ng-bind-html="msg.text"></span>
    </div>
</div>
